<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/{{ site.baseurl }}"><img id="logo" src="/public/images/fealty_logo.png" alt="Game logo"></a>
        <!-- <iframe frameborder="0"
          src="https://itch.io/embed/507146?bg_color=171720&amp;fg_color=ffffff&amp;link_color=ccbf71&amp;border_color=675531"
          width="208" height="167"></iframe>
        </a> -->
      </h1>

      <p class="lead">{{ site.description }}</p>
      <img src="{{ site.baseurl }}/public/images/fealty-hr.png" class="center" />
    </div>
    <!-- <div id="pledgelink">
      <a href="http://eepurl.com/go8jWf">
        <h2> > Join the mailing list < </h2> 
      </a> 
    </div>  -->
    <nav class="sidebar-nav">      
      {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <span class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
            <a href="/{{ site.baseurl }}{{ node.url  | remove_first: '/' }}">{{ node.title }}</a>
            </span>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>
    </p>
    <img src="{{ site.baseurl }}/public/images/fealty-hr.png" class="center" />
    <!-- <div>
      <div>
        <span class="sidebar-nav-item">> <a href="https://fealtydev.itch.io/fealty"> Get the game</a></span>
      </div>
    </div> -->
    <div>
      <span class="sidebar-nav-item">> <a href="https://discord.gg/dKJP7bY"> Discord</a></span>
    </div>
    <div>
      <span class="sidebar-nav-item">> <a href="https://twitter.com/FealtyDev"> Twitter</a></span>
      <!-- <span class="sidebar-nav-item">> <a href="https://www.instagram.com/fealtydev/"> Instagram</a></span> -->
    </div>
    <div>
      > <span class="obfuscate"><a href="mailto:fealtydev">moc.liamg@vedytlaef</a></span>
    </div>
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>