<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <nav>
          <ul>
          {% for item in site.data.navigation %}
            <li><a href="{{ item.link }}" {% if page.url == item.link %}style="color: red;"{% endif %}>
              {{ item.name }}
            </a>
             </li> 
          {% endfor %}

          {% for tag in site.tags %}
          <h3>{{ tag[0] }}</h3>
          <ul>
            {% for post in tag[1] %}
              <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
        {% endfor %}

          </ul>
        </nav>

        <ul>
          {% for content in site.static_files %}
          {% if content.path contains 'content' %}
          <li><a class="buttons" href="{{site.baseurl}}{{content.path}}">{{content.name}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>

      </header>

      <section>
        {{ content }}
      </section>

      <footer>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
